<!-- ロゴ入れる -->
<article>


    <h2><a href="{{ site.baseurl }}/blog/">Blog</a></h2>
    <ul class="archive">
        {% for item in site.posts limit: 10 %}
        <li>
            <time datetime="{{ item.date | date_to_xmlschema }}">{{ item.date | date: "%Y/%m/%d" }}</time>
            <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
        </li>
        {% endfor %}
    </ul>

    <h2><a href="{{ site.baseurl }}/target/">Target</a></h2>
    <ul class="archive">
        {% assign list = site.target | sort: 'updated' | reverse %}
        {% for item in list limit:10 %}
        <li>
            <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <time datetime="{{ item.updated | date_to_xmlschema }}">{{ item.updated | date: "%Y/%m/%d" }}</time>
            updated
        </li>
        {% endfor %}
    </ul>

    <h2><a href="{{ site.baseurl }}/target/">Tool</a></h2>
    <ul class="archive">
        {% assign list = site.tool | sort: 'updated' | reverse %}
        {% for item in list limit:10 %}
        <li>
            <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <time datetime="{{ item.updated | date_to_xmlschema }}">{{ item.updated | date: "%Y/%m/%d" }}</time>
            updated
        </li>
        {% endfor %}
    </ul>

</article>